.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

button.button {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: transparent;
  background-image: linear-gradient(to left, #0064e6, #00e6ac);
  border: none;
}

.heading-text {
  margin: 0 auto;
}

.main-heading {
  font-size: 28px;
  color: #1971c2;
  text-align: center;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38px;
}

.right-dot,
.left-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: linear-gradient(to bottom right, #0064e6, #00e6ac);
}

input {
  font: inherit;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #15aabf;
  padding: 0.15rem;
  margin-bottom: 18px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #0064e6;
}
