// --- adding global variables
$alt_color: green;

.header {
  color: $alt_color;
}

// --- adding scoped variable
.footer {
  $alt_color: black;
  color: black;
}

// --- modifying global variables
.footer {
  $alt_color: black !global;
}

// ---- import variables
@use "./sass/variables/colors" as *;

// OR

@use "./sass/variables/colors";

.head {
  color: colors.$alt_color;
}

// --- using variables for media
$max_mobile: "max-width: 767px";

@media ($max_mobile) {
}
