// ----- Mixin And Includes

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.links {
  @include list-reset;
}

@mixin circle($dimensions) {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: $dimensions;
  height: $dimensions;
}

.circle-100 {
  @include circle(100px);
}

.circle-200 {
  @include circle(200px);
}

.circle-300 {
  @include circle(300px);
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-circle {
  @include circle(100px);
  @include centering;
}
