* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #0064e6, #00e6ac);
  min-height: 100vh;
  background-repeat: no-repeat;
  color: #333;
  font-family: "Roboto", sans-serif;
}
/* #00e6ac  #3ce7bd #0064e6  #3c86e7*/

.invalid input {
  border-bottom: 1px solid #b40e0e;
  /* background-color: #fddddd; */
}

.invalid input:focus {
  border-color: #ff8800;
}
.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.empty-message {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
[name="happy-outline"] {
  color: #fff;
  margin-left: 12px;
  width: 32px;
  height: 32px;
}
