<header class="app__header">
    <img src="/img/favicon.png"/>
  <nav class="app__nav">
    <ul class="nav__list">
      <li class="nav__list--item"><a href="/">Weather</a></li>
      <li class="nav__list--item"><a href="/about">About</a></li>
      <li class="nav__list--item"><a href="/help">Help</a></li>
    </ul>
  </nav>
</header>