* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
/* the product */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}
/* the title */
.product-title {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px;
}
/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}
/* the subheading */
.shipping {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
/* the link */
.more-info:link,
.more-info:visited {
  color: black;
}
/* the link on hover */
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
/* product */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}
/* the ul  */
.details-list {
  list-style: square;
  margin-left: 20px;
}
/*  items */
.details-list li {
  margin-bottom: 10px;
}
/* the button */
.add-cart {
  color: #fff;
  background-color: black;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}
/* on hover */
.add-cart:hover {
  color: black;
  background-color: #fff;
}
