/***************************  reset style sheet *******************************/

/*refer to reset the default style of type element and customize it by your self 
visit https://cssreset.com/what-is-a-css-reset   
      https://www.cssreset.com
      https://meyerweb.com/eric/tools/css/reset
      https://html5doctor.com/html-5-reset-stylesheet   for resetting the html 

for more details



for normalize  https://necolas.github.io/normalize.css

HTML {
  
*/
