<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Accordion component</title>
  </head>
  <body>
    <div class="accordion">
      <div class="item">
        <p class="number">01</p>
        <p class="text">Where are these chairs assembled ?</p>
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
            aliquid ipsa quibusdam omnis. Voluptatum recusandae laboriosam
            aliquid, quidem voluptatibus enim error doloremque quam alias
            possimus. Debitis hic eaque fuga numquam!
          </p>
          <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
          </ul>
        </div>
      </div>

      <div class="item open">
        <p class="number">02</p>
        <p class="text">How long do I have to return my chair ?</p>
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
            aliquid ipsa quibusdam omnis. Voluptatum recusandae laboriosam
            aliquid, quidem voluptatibus enim error doloremque quam alias
            possimus. Debitis hic eaque fuga numquam!
          </p>
          <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
          </ul>
        </div>
      </div>

      <div class="item">
        <p class="number">03</p>
        <p class="text">Do you ship to countries outside the EU</p>
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          />
        </svg>
        <div class="hidden-box">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
            aliquid ipsa quibusdam omnis. Voluptatum recusandae laboriosam
            aliquid, quidem voluptatibus enim error doloremque quam alias
            possimus. Debitis hic eaque fuga numquam!
          </p>
          <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
