<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
      <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
  <title>about</title>
</head>
<body>
  {{>header}}
  <main class="about__main">
    <p>This is a weather app that allows you to get the current weather for a certain city.</p>
    <p>Start by searching for a location!</p>
    <p>We used the weatherstack API to get this data</p>
  </main>
  {{>footer}}
</body>
</html>